body{
    margin: 0;
    background-color: white;
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.keeper{
    color: #eee;
    display: inline-block;
    margin-left: 2vw;
}

.header{
    text-align: left;
    margin: 0;
    margin-bottom: 1vw;
    display: inline-block;
    width: 100%;
    background-color:#eeb20e;
    opacity: 0.9;
    box-shadow: 0 0 10px 0 #939393 ;
}

.note-structure{
    position: relative;
    width: 30vw;
    background-color: white;
    box-shadow: 0 1px 3px 0 #939393;
    text-align: left;
    margin: 1vw 1.3vw 0;
    border-radius: 0.5vw;
    padding: 0 0 0 1vw ;
    display: inline-block;
    align-self: flex-start; /* Align from the top */
}

.note-title{
    border: none;
    font-size: 1.9vw;
    color: #664d06;
    width: 100%;
    margin-top: 2vw;
    outline: none;
    width: 90%;
}

.note-content{
    border: none;
    opacity: 0.8;
    font-size: 1.5vw;
    font-weight: lighter;
    margin-top: 1vw;
    outline: none;
    resize: none;
}

form.newNote button{
    text-align: center;
    border-radius: 100px;
    border: 1vw ;
    background: #eeb20e;
    color: white;
    width: 36px;
    height: 36px;
    font-size: 1vw;
    position: absolute;
    right: 2vw;
    bottom: -1vw;
    cursor: pointer;
  outline: none;
}

.add-button:hover{
    background-color: #ffd86b;
}

.notes-submitted{
    text-align: left;
}

.note-added{
    position: relative;
    width: 20vw;
    background-color: white;
    box-shadow: 0 1px 3px 0 #939393;
    text-align: left;
    margin: 1vw 1.3vw;
    border-radius: 0.5vw;
    padding: 0.2vw 2vw;
    display: inline-block;
    align-self: flex-start; 
}

.delete{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    border: none;
    background-color: white;
    color: #eeb20e;
    font-size: 1.1vw;
}

.delete:hover{
    color: #ffd86b;
}


.footer-content{
    color: #c3c1c1;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}